.social {
  background-color: $dark_grey;
  color: $white;

  &__container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  &__image {
    flex-shrink: 0;
    max-width: 10%;
    min-width: 50px;
  }

  &__title {
    @include title_format;
  }
}
